@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;

body {
  @apply bg-gray-900 text-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind utilities;
